{% extends 'profile_layout.html' %}

{% block profileTabContent %}

<div class="page-header">
  <h1>Send</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Send Bitcoins</h3>
  </div>

    {% block sendForm %}
    <!-- Form -->
    <form class="form-horizontal"
          role="form"
          method="post"
          id="send-form"
          action="/me/send/to-bitcoin-address"
          >
      <input type="hidden" name="id" value="{{ withdrawalId }}">
      <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">To</label>
        <div class="col-sm-10">

          <!-- Tabs -->
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#to-bitcoin-address"
                 id="to-bitcoin-address-tab"
                 data-toggle="tab">
                Bitcoin Address
              </a>
            </li>
            <li>
              <a href="/me/send/to-user" id="to-user-tab">
                MoneyPot User
              </a>
            </li>
          </ul>

          <div class="tabbed-content tab-content">

            <!-- Tab 1: Bitcoin Address -->
            <div class="tab-pane active" role="tabpanel" id="to-bitcoin-address">
              <input type="text"
                     class="form-control"
                     id="to-bitcoin-address-input"
                     name="to"
                     placeholder="Example: 1Q2TWHE3GMdB6BZKafqwxXtWAWgFt5Jvm3"
                     pattern="\s*[13][1-9A-HJ-NP-Za-z]{25,39}\s*"
                     {% if ctx.flash.params %}
                     value="{{ ctx.flash.params.to }}"
                     {% endif %}
                     >
            </div>
            <!-- Tab 2: MoneyPot User -->
            <div class="tab-pane" role="tabpanel" id="to-user">
              <input type="text"
                     class="form-control uname-typeahead"
                     id="to-user-input"
                     placeholder="Username"
                     >
            </div>
          </div> <!-- /.tabbed-content -->
        </div>
      </div>

      <!-- Amount -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Amount</label>

        <div class="col-sm-4">
          <input type="number"
                 class="form-control"
                 id="amount"
                 name="amount"
                 {% if ctx.flash.params %}
                 value="{{ ctx.flash.params.amount }}"
                 {% endif %}
                 required>
        </div>
        <div class="col-sm-2">
          <select class="form-control" name="units" id="units">
            <option{% if ctx.flash.params && ctx.flash.params.units == 'bits' %} selected{% endif %}>bits</option>
            <option{% if ctx.flash.params && ctx.flash.params.units == 'bitcoin' %} selected{% endif %}>bitcoin</option>
          </select>
        </div>
        <div class="col-sm-4" style="padding-top: 6px;" >
            Total: <strong id="total">100</strong> bits (includes <strong id="txfee">100</strong> bits of transaction fee)</p>
        </div>
      </div>

        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>


      <div class="form-group">
          <label class="col-sm-2 control-label">
            <span class="glyphicon glyphicon-pushpin"></span>
            Memo:
          </label>

          <div class="col-sm-10">
              <input type="text" name="memo" class="form-control" placeholder="Optional private message to yourself"
                     {% if ctx.flash.params %}
                     value="{{ ctx.flash.params.memo }}"
                     {% endif %}
               >
          </div>
      </div>

      </div> <!-- /.panel-body -->

      <!-- Panel footer -->
      <div class="panel-footer text-right">

        <div style="display: inline-block;">
            <!-- Password -->
            <div style="display: inline-block;">
              Password:
              <input type="password"
                    placeholder="Current password"
                    style="width: 200px; display: inline-block;"
                    name="password"
                    class="form-control"
              >
            </div>

            <!-- 2FA passcode -->
            {% if ctx.currUser.mfa_key %}
              <div style="display: inline-block;">
                2FA code:
                <input type="text"
                      style="width: 200px; display: inline-block;"
                      class="form-control"
                      placeholder="6-digit 2FA passcode"
                      id="passcode"
                      name="passcode">
              </div>
            {% endif %}

          </div>
        <!-- Submit button -->
        <input type="submit" class="btn btn-primary" value="Send Bitcoin">

      </div> <!-- /.panel-footer -->
    </form>
    {% endblock sendForm %}

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  var fee = $('#send-form')[0].action.indexOf('to-bitcoin-address') === -1 ? 0 : 10000;

  function updateTxFee(sats) {
      fee = sats;
      $('#txfee').text(formatSatoshis(fee));
      updateTotal();
  }

  function setStep() {
    var min;
    var step;

    if ($('#units').val() === 'bitcoin') {
      min = 1e-4;
      step = 1e-8;
    } else {
      min = 100;
      step = 0.01;
    }

    $('#amount').attr('min', min).attr('step', step);
    updateTotal();
  }

  $('#amount').on('change', updateTotal);
  $('#amount').on('keyup', updateTotal);
  setStep();
  $('#units').on('change', setStep);

  function updateTotal() {
      var amount = parseFloat($('#amount').val());
      if (Number.isNaN(amount))
          return $('#total').text(formatSatoshis(fee));

      if ($('#units').val() === 'bitcoin') {
           amount *= 1e8;
      } else {
          amount *= 100;
      }

      $('#total').text(formatSatoshis(amount + fee));
  }
</script>

  {% block childScripts %}
    <script type="text/javascript">
    $('#to-bitcoin-address-input').focus();
    </script>
  {% endblock childScripts %}
{% endblock %}
